<style>
	label {
		color: white;
	}

	th {
		color: white;
	}

	h4 {
		color: white;
	}
</style>

<div class="container" ng-controller="BlogController">
	<h4 align="center">Enter Blog Information</h4>
	<hr>
	<table align="center">
		<tr>
			<th>Blog Name</th>
			<td><input type="text" name="blogName" ng-model="blog.blogName"/></td>
		</tr>
		<tr>
			<th>Blog Content</th>
			<td><textarea cols="80" rows="8" ng-model="blog.blogDesc"></textarea></td>
		</tr>
		<tr align="center">
			<td colspan="2"><input value="Insert Blog" class="btn btn-warning" ng-click="addBlog()" type="submit" /></td>
		</tr>
	</table>
</div>