<style>
label {
	color: black;
}

th {
	color: black;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

h4 {
	color: black;
}
</style>

<div class="container" ng-controller="BlogController">
	<h4 align="center">Enter Blog Information</h4>
	<hr>
	<table align="center">
		<tr>
			<th>Blog Name</th>
			<td><input type="text" required="required" name="blogName" ng-model="blog.blogName" /></td>
		</tr>
		<tr>
			<th>Blog Content</th>
			<td><textarea cols="80" required="required" rows="8" ng-model="blog.blogDesc"></textarea></td>
		</tr>
		<tr align="center">
			<td colspan="2"><input value="Insert Blog"
				class="btn btn-warning" ng-click="addBlog()" type="submit" /></td>
		</tr>
	</table>
</div>
<br>
<br>