<style>
label {
	color: black;
}

#table2 {
	color: black;
}

th {
	color: black;
}

h2 {
	color: black;
}

p {
	color: black;
}
</style>

<div ng-controller="BlogCommentController">
	<div>
		<p>
			<font size="8"><b>{{blogdata.blogName}}</b></font><br>
			<font size="3">{{blogdata.blogDesc}}</font>
		</p>
		<hr>
	</div>
	<div>
		<div align="left">
			<p ng-repeat="blogComment in blogcommentdata">
				<br>&nbsp&nbsp&nbsp<img id="img1"
					src="http://localhost:8081/Inter_Chat_Middleware/getImage/{{blogComment.loginName}}"
					class="img-circle" alt="avatar" style="height: 50px; width: 60px">
				<b>{{blogComment.loginName}}</b> {{blogComment.commentText}}
				{{blogComment.commentDate}} <input type="button"
					class="btn btn-sm btn-danger" value="Delete"
					ng-show="currentUser.role=='ROLE_ADMIN'"
					ng-click="delete(blogComment.commentId)">
			</p>
		</div>
		<div ng-hide="currentUser==undefined||currentUser.role=='ROLE_ADMIN'">
			<table>
				<tr>
					<th>&nbsp&nbsp&nbspComment&nbsp&nbsp&nbsp</th>
					<td><textarea cols="80" rows="2"
							ng-model="blogComment.commentText"></textarea></td>
				</tr>
				<tr align="center">
					<td colspan="2"><input value="Comment"
						class="btn btn-sm btn-default" ng-click="addComment()"
						type="submit" /></td>
				</tr>
			</table>
		</div>
	</div>
	<br>
</div>
