<style>
label {
	color: black;
}

h2 {
	color: black;
}

p {
	color: black;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
</style>

<!-- DISPLAY BLOG START -->

<div class="container" ng-controller="BlogController">
	<p ng-repeat="blog in blogdata">
		<font size="8"><b>{{blog.blogName}}</b></font> &nbsp &nbsp &nbsp &nbsp
		&nbsp &nbsp &nbsp created by <i><b>{{blog.loginName}}</b> on
			{{blog.createDate}}</i> <img src="Images/blog.jpg" alt="Avatar"
			style="height: 80%; width: 80%"><br> <br> <font
			size="3">{{blog.blogDesc}}</font>
		<button type="button" class="btn btn-default btn-sm"
			ng-click="incrementLikes(blog.blogId)">
			<span class="glyphicon glyphicon-thumbs-up"></span> {{blog.likes}}
		</button>
		<button type="button" class="btn btn-default btn-sm"
			ng-click="incrementDislikes(blog.blogId)">
			<span class="glyphicon glyphicon-thumbs-down"></span>
			{{blog.dislikes}}
		</button>
		<button type="button" ng-click="showComment(blog.blogId)"
			class="btn btn-default btn-sm">Comments</button>
	</p>
	<hr>
</div>

<!-- DISPLAY BLOG END -->