<style>
	label {
		color: white;
	}

	#table2 {
		color: white;
	}

	th {
		color: white;
	}
</style>

<!-- DISPLAY BLOG START -->

<div class="container" ng-controller="BlogController">
	<table id="table2" class="table">
		<tr>
			<th>Blog Name</th>
			<th>Blog Content</th>
			<th></th>
		</tr>
		<tr ng-repeat="blog in blogdata">
			<td>{{blog.blogName}}</td>
			<td>{{blog.blogDesc}}   <button type="button" class="btn btn-default btn-sm" ng-click="incrementLikes(blog.blogId)"><span class="glyphicon glyphicon-thumbs-up"></span> {{blog.likes}}</button> <button type="button" class="btn btn-default btn-sm" ng-click="incrementDislikes(blog.blogId)"><span class="glyphicon glyphicon-thumbs-down"></span> {{blog.dislikes}}</button></td>
		</tr>
	</table>
</div>

<!-- DISPLAY BLOG END -->