<style>
label {
	color: black;
}

#table2 {
	color: black;
}

th {
	color: black;
}
</style>

<div class="container" ng-controller="BlogController">
	<table id="table2" class="table">
		<tr>
			<th>Blog Name</th>
			<th>Blog Content</th>
			<th>Blog Status</th>
			<th>Likes</th>
			<th>Dislikes</th>
			<!-- <th>Like/Dislike</th> -->
			<th>Approve/Reject</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="blog in blogdata">
			<td>{{blog.blogName}}</td>
			<td>{{blog.blogDesc}}</td>
			<td>{{blog.status}}</td>
			<td>{{blog.likes}}</td>
			<td>{{blog.dislikes}}</td>
			<!-- <td><input value="Like" class="btn btn-success" ng-click="incrementLikes(blog.blogId)" type="submit" /><input value="Dislike" class="btn btn-danger" ng-click="incrementDislikes(blog.blogId)" type="submit" /></td> -->
			<td><input value="Approve" class="btn btn-success"
				ng-click="approve(blog.blogId)" type="submit" /><input
				value="Reject" class="btn btn-danger" ng-click="reject(blog.blogId)"
				type="submit" /></td>
			<td><input value="Delete" class="btn btn-danger"
				ng-click="delete(blog.blogId)" type="submit" /></td>
		</tr>
	</table>
</div>