<style>
label {
	color: black;
}

th {
	color: black;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

h4 {
	color: black;
}
</style>

<div ng-controller="JobController" class="container">
<div class="imgcontainer">
		<hr></hr>
		<h2 align="center">
			<b>Job Application Form</b>
		</h2>
		<hr></hr>
		<img src="Images/job.png" alt="Avatar" style="height:80%;width:80%">
</div>
<div>
	<hr>
	<table align="center">
		<tr>
			<th>Your Name</th>
			<td><input type="text" required="required" name="loginName" ng-model="applyjobdata.loginName" /></td>
		</tr>
		<tr>
			<th>Job Id</th>
			<td><input type="text" required="required" name="jobId" ng-model="applyjobdata.jobId"/></td>
		</tr>
		<tr align="center">
			<td colspan="2"><input value="Apply"
				class="btn btn-primary" ng-click="apply()" type="submit" /></td>
		</tr>
	</table>
</div>
</div>
<br>
<br>