<style>
label {
	color: black;
}

#table2 {
	color: black;
}

th {
	color: black;
}
</style>

<div class="container" ng-controller="JobController">
	<table id="table2" class="table">
		<tr>
			<th>Company</th>
			<th>Job Description</th>
			<th>Job Designation</th>
			<th>Salary</th>
			<th>Location</th>
			<th>Last Date To Apply</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="job in jobdata">
			<td>{{job.company}}</td>
			<td>{{job.jobDescription}}</td>
			<td>{{job.jobDesignation}}</td>
			<td>{{job.salary}}</td>
			<td>{{job.location}}</td>
			<td>{{job.lastDateToApply}}</td>
			<td><input value="Delete" class="btn btn-danger"
				ng-click="delete(job.jobId)" type="submit" /></td>
		</tr>
	</table>
</div>