<style>
label {
	color: black;
}

h2 {
	color: black;
}

p {
	color: black;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
</style>

<!-- DISPLAY FORUM START -->

<div class="container" ng-controller="ForumController">
	<p ng-repeat="forum in forumdata">
		<font size="8"><b>{{forum.forumName}}</b></font><br><img src="Images/forum2.png" alt="Avatar"
			style="height: 60%; width: 60%"><br>
		<br> <font
			size="3">{{forum.forumContent}}</font>
		<button type="button" ng-click="showComment(forum.forumId)"
			class="btn btn-default btn-sm">Comments</button>
	</p>
	<hr>
</div>

<!-- DISPLAY FORUM END -->