<style>
img.avatar {
	width: 15%;
	border-radius: 20%;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

form {
	border: 3px solid #f1f1f1;
}

button:hover {
	opacity: 0.8;
}

h2 {
	color: black;
}

label {
	color: black;
}
</style>

<div style="background-image: url(Images/background2.jpg)"
	ng-controller="UserController">
	<div class="imgcontainer">
		<hr></hr>
		<h2 align="center">
			<b>Login</b>
		</h2>
		<hr></hr>
		<img src="Images/img_avatar1.png" alt="Avatar" class="avatar">
	</div>
	<div class="container">
		<div class="row ">
			<div align="center">
				<div class="row">
					<div class="col-xs-4">
						<label><b><font size="5">Username :</font></b></label>
					</div>
					<div class="col-xs-4">
						<input type="text" name="loginName"
							placeholder="Enter Your Username" class="form-control last"
							ng-model="User.loginName" ng-required="true" />
					</div>
				</div>
			</div>
			<br>
			<div align="center">
				<div class="row">
					<div class="col-xs-4">
						<label><b><font size="5">Password :</font></b></label>
					</div>
					<div class="col-xs-4">
						<input type="password" name="password"
							placeholder="Enter Your Password" class="form-control last"
							ng-model="User.password" ng-required="true" />
					</div>
				</div>
			</div>
			<br>
			<div align="center">
				<input value="Login" class="btn btn-success" ng-click="logincheck()"
					type="submit" />
			</div>
		</div>
	</div>

	<br> <br>
</div>