<style>
img.avatar {
	width: 15%;
	border-radius: 20%;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

form {
	border: 3px solid #f1f1f1;
}

button:hover {
	opacity: 0.8;
}

h4 {
	color: white
}

label {
	color: white
}
</style>

<div ng-controller="UserController">
<div class="imgcontainer">
	<h4 align="center">Registration-Form</h4>
	<hr></hr>
	<img src="Images/img_avatar2.png" alt="Avatar" class="avatar">
</div>
<div class="container">
	<div class="row ">
		<div align="center">
			<div class="row">
				<div class="col-xs-4">
					<label>Your Name :</label>
				</div>
				<div class="col-xs-4">
					<input type="text" name="username" placeholder="Enter Your Name" class="form-control last" ng-model="User.username" required/>
				</div>
			</div>
		</div>
		<br>
		<div align="center">
			<div class="row">
				<div class="col-xs-4">
					<label class="username">Username :</label>
				</div>
				<div class="col-xs-4">
					<input type="text" name="loginName" placeholder="Enter Your Username" class="form-control last" ng-model="User.loginName" required/>
				</div>
			</div>
		</div>
		<br>
		<div align="center">
			<div class="row">
				<div class="col-xs-4">
					<label class="mail">Email :</label>
				</div>
				<div class="col-xs-4">
					<input type="email" name="emailId" placeholder="Enter Your Email" class="form-control last" ng-model="User.emailId" required/>
				</div>
			</div>
		</div>
		<br>
		<div align="center">
			<div class="row">
				<div class="col-xs-4">
					<label class="mobileNo">Mobile No :</label>
				</div>
				<div class="col-xs-4">
					<input type="text" maxlength="10" name="mobileNo" placeholder="Enter Your Mobile Number" class="form-control last" ng-model="User.mobileNo" required/>
				</div>
			</div>
		</div>
		<br>
		<div align="center">
			<div class="row">
				<div class="col-xs-4">
					<label class="pass">Password :</label>
				</div>
				<div class="col-xs-4">
					<input type="password" name="password" placeholder="Enter Your Password" class="form-control last" ng-model="User.password" required/>
				</div>
			</div>
		</div>
		<br>
		<div align="center">
			<div class="row">
				<div class="col-xs-4">
					<label class="addr">Address :</label>
				</div>
				<div class="col-xs-4">
					<input type="text" name="address" placeholder="Enter Your Address" class="form-control last" ng-model="User.address" required/>
				</div>
			</div>
		</div>
		<br>
		<div align="center">
			<div align="center">
				<div><input value="Register User" class="btn btn-success" ng-click="register()" type="submit" /></div>
			</div>
		</div>
	</div>
</div>
</div>