<style>
img.avatar {
	width: 15%;
	border-radius: 20%;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

form {
	border: 3px solid #f1f1f1;
}

button:hover {
	opacity: 0.8;
}

h2 {
	color: black;
}

h4 {
	color: black;
}

label {
	color: black;
}
</style>

<div style="background-image: url(Images/background2.jpg)"
	ng-controller="UserController">
	<div class="imgcontainer">
		<hr></hr>
		<h2 align="center">
			<b>Update User</b>
		</h2>
		<hr></hr>
		<img src="Images/img_avatar2.png" alt="Avatar" class="avatar">
	</div>
	<div class="container">
		<div class="row ">
			<div align="center">
				<div class="row">
					<div class="col-xs-4">
						<label><b><font size="5">Your Name :</font></b></label>
					</div>
					<div class="col-xs-4">
						<input type="text" name="username" placeholder="{{currentUser.username}}"
							class="form-control last" ng-model="User.username" required="required" />
					</div>
				</div>
			</div>
			<br>
			<div align="center">
				<div class="row">
					<div class="col-xs-4">
						<label class="username"><b><font size="5">Username
									:</font></b></label>
					</div>
					<div class="col-xs-4">
						<input type="text" name="loginName"
							placeholder="{{currentUser.loginName}}" class="form-control last"
							ng-model="User.loginName" required="required" />
					</div>
				</div>
			</div>
			<br>
			<div align="center">
				<div class="row">
					<div class="col-xs-4">
						<label class="mail"><b><font size="5">Email :</font></b></label>
					</div>
					<div class="col-xs-4">
						<input type="email" name="emailId" placeholder="{{currentUser.emailId}}"
							class="form-control last" ng-model="User.emailId" required="required" />
					</div>
				</div>
			</div>
			<br>
			<div align="center">
				<div class="row">
					<div class="col-xs-4">
						<label class="mobileNo"><b><font size="5">Mobile
									No :</font></b></label>
					</div>
					<div class="col-xs-4">
						<input type="text" maxlength="10" name="mobileNo"
							placeholder="{{currentUser.mobileNo}}" class="form-control last"
							ng-model="User.mobileNo" required="required" />
					</div>
				</div>
			</div>
			<br>
			<div align="center">
				<div class="row">
					<div class="col-xs-4">
						<label class="pass"><b><font size="5">Password
									:</font></b></label>
					</div>
					<div class="col-xs-4">
						<input type="password" name="password"
							placeholder="{{currentUser.password}}" class="form-control last"
							ng-model="User.password" required="required" />
					</div>
				</div>
			</div>
			<br>
			<div align="center">
				<div class="row">
					<div class="col-xs-4">
						<label class="addr"><b><font size="5">Address :</font></b></label>
					</div>
					<div class="col-xs-4">
						<input type="text" name="address" placeholder="{{currentUser.addr}}"
							class="form-control last" ng-model="User.address" required="required" />
					</div>
				</div>
			</div>
			<br>
			<div align="center">
				<div align="center">
					<div>
						<input value="Update User" class="btn btn-success"
							ng-click="updateUserDetail(currentUser.loginName)" type="submit" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<br> <br>
</div>